.back {
    background: white;
}
h1 {
    margin-bottom: 0.8rem !important;
}
p{
    margin-bottom: 1.2rem !important;
}
h3{
    padding: 10px;
    margin: 0 !important;
}
h4 {
    padding: 1px;
}
.adjust{
    margin-top: 15px;
}

.top{
    background: #ddd;
    padding: 8px;
    color: #121212;
    margin-bottom: 1rem !important;

}
.item {
    list-style: none;
    overflow: hidden;
}
.total {
    margin-top: 109px !important;
}
.thumb {
    border: 1px solid #ccc;
    padding: 5px;
}